@font-face {
  font-family: "Nunito";
  font-weight: 800;
  src: url(/fonts/Nunito.ttf);
}



@font-face {
    font-family: League Gothic;
    src: url(/fonts/LeagueGothic.ttf);
  }

  body {
    -webkit-font-smoothing: antialiased;
  }
